.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    overflow-x: hidden;
    
}

.main .title{
    font-family: gilroy;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.form{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    

    
}
.input1{
    width: 400px;
    margin-top: 15px;


}
.input1 input{
    border-radius: 40px;
}

.btn-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn1{
    margin-bottom: 10px;
    border-radius: 40px;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    font-weight: bold;
    font-size: large;

}
.btn1:hover{
    transform: scale(1.02);
    transition: all ease 0.2s;
}
h4{
    
    font-size: 16px;
}
span{
    font-size: 18px;
    color: blue;
}

@media screen and (max-width: 768px) {
    .main{
   
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 150px;
        
    }
    .input1{
        width: 70%;
       
    
    }
    .form{
        width: 100%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        
    
        
    }
    
    h4{
        font-size: 16px;
    }
    span{
        font-size: 18px;
        color: blue;
    }
}